{% extends "ProyectoWebApp/base.html" %}
{% load static %}
{% block content %}

<head>
    <link href="{%  static 'ProyectoWebApp/css/store.css' %}" rel="stylesheet">
</head>

<div class="container_product">
    {% if products %}

    {% for product in products %}
    <div class="product">

        <a href="{% url 'singleproduct' product.id %}" class="product_seemore">Ver</a>

        <img class="product_img" src="{% if product.image %} {{product.image.url}} {% endif %}" alt="">

        <div class="product_descriptions">
            <p class="product_name">{{product.name}}</p>
            <p class="product_descript">{{product.description}}</p>
            <p class="product_price">Precio: {{product.price}}</p>
        </div>

        <button class="product_btn">Comprar</button>

    </div>

    {% endfor %}
    {% else %}
    <p>There are no products</p>
    {% endif %}
</div>

{% endblock %}