{% extends "ProyectoWebApp/base.html" %}
{% load static %}
{% block content %}

<head>
    <link href="{%  static 'ProyectoWebApp/css/store.css' %}" rel="stylesheet">
</head>

{% if request.user.is_authenticated %}

<div class="container_store">
    <div class="container_products">
        {% if products %}

        {% for product in products %}
        <div class="product">
            <a href="{% url 'singleproduct' product.id %}" class="product_seemore">Sehen</a>
            <img class="product_img" src="{% if product.image %} {{product.image.url}} {% endif %}" alt="">

            <div class="product_descriptions">
                <p class="product_name">{{product.name}}</p>
                <p class="product_descript">{{product.description}}</p>
                <p class="product_price">Precio: {{product.price}}</p>
            </div>
            <div class="card-footer text-center">
                <a href="{% url 'basket:add_product'  product.id %}" class="btn btn-warning">Bethzalen</a>
            </div>
        </div>

        {% endfor %}
        {% else %}
        <p>There are no products</p>
        {% endif %}
    </div>

    <div class="container_basket">
        {% include "basket/basket_widget.html" %}
    </div>

</div>
{% else %}
<div class="container_store">
    <span class="alert alert-danger text-center">You have to loggin first</span>
</div>
{% endif %}

{% if request.user.is_authenticated %}
<div
    style="width: 75%; margin: auto; height: auto; display: flex; flex-wrap: wrap; justify-content: center; align-items: center; gap: 20px; background-color: rgb(2, 92, 83);">
    Categories:
    {% for category in categories %}
    <a href="{% url 'categoriesproducts' category.id %}">{{category.name}}</a>
    {% endfor %}
</div>
{% else %}
<div></div>
{% endif %}

<!----

   
-->


{% endblock %}