<html>

<head>

  {% load static %}

  <!-- Bootstrap -->
  <link href="{%  static 'ProyectoWebApp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Fonts -->

  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">


  <!-- Styles -->
  <link href="{%  static 'ProyectoWebApp/css/gestion.css' %}" rel="stylesheet">
</head>

<body>

  <h1 class="site-heading text-center text-white d-none d-lg-block">

    <span class="site-heading-lower">Bestellverwaltung</span>
  </h1>

  <div style="width: 100%; text-align: right; color: white; font-size: 1.1rem; font-weight: bold;">
    {% if user.is_authenticated %}
    <span style="margin-right: 50px;">Hallo {{user.username}}</span>
    <a href="{% url 'closesession' %}" style="margin-right: 50px;">Close session</a>
    {% else %}
    <a href="#">Login</a> <a  href="{% if request.path == '/authentication/' %} # {% else %} authentication {% endif %}">Register</a>
    {% endif %}
  </div>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none"
        href="{% url 'home' %}">Bestellverwaltung</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item {% if request.path == '/' %} active {% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'home' %}">Startseite</a>
          </li>
          <li class="nav-item {% if request.path == '/services/' %} active {% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'services' %}">Dienstleistungen</a>
          </li>
          <li class="nav-item {% if request.path == '/store/' %} active {% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'store' %}">Geschäft</a>
          </li>
          <li class="nav-item {% if request.path == '/contact/' %} active {% endif %}  px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'contact' %}">Kontakt</a>
          </li>
          <li class="nav-item {% if request.path|slice:':6' == '/blog/' %} active {% endif %}  px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'blog' %}">Blog</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>


  <!-- Contenido cambiante-->
  {% block content %}
  {% endblock %}


  <!-- Footer -->
  <footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0">
        <a href="#" class="link">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a href="#" class="link">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a href="#" class="link">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </p>
      <p class="m-0 mbt">
        <a href="sample.html" class="link">Datenschutzrichtlinie</a> ·
        <a href="sample.html" class="link">Rechtliche Hinweise</a> ·
        <a href="sample.html" class="link">Cookies</a>
      </p>
      <p class="m-0 mbt1">&copy; Bestellverwaltung 2020</p>
    </div>
  </footer>

  <!-- Bootstrap -->
  <script src="{%  static 'ProyectoWebApp/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{%  static 'ProyectoWebApp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>


</html>