   {% extends "ProyectoWebApp/base.html" %}
   {% load static %}
   {% block content %}


   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectoWebApp/img/principal.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Pünktlichkeit</span>
            <span class="section-heading-lower">Der beste Bestand</span>
          </h2>
          <p class="mb-3">In weniger als 48 Stunden an Ihrer Haustür mit normalem Versand. In weniger als 24 Stunden mit Expressversand.
          </p>
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Volles Engagement</span>
                <span class="section-heading-lower">Garantiert</span>
              </h2>
              <p class="mb-0">Mit mehr als 75 Jahren Erfahrung im Rücken haben wir von Bestellverwaltung das Wissen und die Werkzeuge, um jeden Gegenstand pünktlich und professionell an Ihre Haustür zu liefern.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}

