.container_store {
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: 70% 30%;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    position: relative;
}

.container_products {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: auto;
    background-color: white;
}

.container_basket {
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: auto;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}

.product {
    max-width: 200px;
    min-height: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: rgb(190, 190, 190);
    position: relative;
}

.product_seemore {
    all: unset;
    width: 30%;
    height: auto;
    padding: 3px 0px 3px 0px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 153, 0);
    color: white;
    text-align: center;
    font-size: 0.9rem;
    border-radius: 5px;
    cursor: pointer;
}

.product_img {
    width: 100%;
    max-height: 100px;
    height: auto;
    display: block;
    border-bottom: 1px solid #ddd;
    object-fit: cover;
}

.product_descriptions {
    padding: 10px;
}

.product_name {
    font-weight: bold;
    margin: 0;
}

.product_descript {
    margin: 5px 0;
    color: #666;
}

.product_price {
    margin: 5px 0;
    color: #333;
}

.product_btn {
    display: block;
    width: 100%;
    padding: 8px 0;
    background-color: rgba(255, 153, 0);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 0;
}

.product_btn:hover {
    background-color: rgb(244, 174, 68);
}